*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  min-height: 100vh;
  background-color: rgb(228, 216, 193);
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: grey;
}


.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor {
  cursor: pointer;              /* Changes cursor to pointer when hovering */
  width: 4vh;                  /* Set width */
  height: 4vh;                 /* Set height */
  border: 1px solid black;     /* Black border */
  border-radius: 50%;          /* Make it circular */
  display: flex;               /* Use flexbox for centering */
  align-items: center;         /* Center items vertically */
  justify-content: center;      /* Center items horizontally */
  color: white;                /* Text color */
  background-color: tomato;    /* Background color */
  font-size: 1.5rem;             /* Increase font size */
  padding: 0;                  /* Remove padding */
  text-align: center;          /* Center text */
 
}
